<template>
	<div class="guilds">
		<div class="guild" v-for="(guild) in this.$store.state.guilds" :key="guild.name">
			<div
				class="guild-name"
				@click.prevent="isHidden = !isHidden; lastGuild = guild.name"
			>{{ guild.name }}</div>
			<div class="channels-collapsible" v-if="!isHidden && lastGuild == guild.name">
				<div class="channels" v-for="(channel) in guild.channels" :key="channel.id">
					<router-link
						v-if="channel.name"
						:class="['channel', channel.c]"
						:to="{ name: 'messages', params: { id: channel.id, name: channel.name }}"
					>{{ channel.name }}</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isHidden: true,
			lastGuild: "",
		};
	},
	methods: {},
	computed: {},
	async beforeMount() {
		document.getElementById("headerbar-channel").style.display = "none"

		let payload = JSON.stringify({
			type: "initial",
			data: null,
		})

		this.$store.state.socket.send(payload)
	}
};
</script>

<style>
.guilds {
	height: calc(100vh - 3em);
	overflow: scroll;
}

.guild-name {
	padding: 1em 5vw;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}

.guild-name:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

.channels {
	transition: 1s all;
	overflow: hidden;
}

a.channel {
	padding: 0.5em 1em;
	width: auto;
	display: block;
	/* background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	);
	transition: 1s background-image; */

	background-color: rgba(0, 0, 0, 0);
	transition: 0.25s background-color;

	text-decoration: none;
	color: #ddd;
}

a.channel:hover {
	/* background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0)
	); */
	background-color: rgba(0, 0, 0, 0.25);
	transition: 0s background-color;
}

a.channel:visited {
	color: inherit;
}

a.channel:not(.category):not(.dm) {
	padding-left: 2em;
	padding-right: 2em;
}

a.channel.category {
	pointer-events: none;
}

a.channel::before {
	margin-right: 0.35em;
	opacity: 0.75;
	font-weight: bold;
}

a.channel:not(.category):not(.dm)::before {
	content: "#";
}

a.channel.dm:not(.group)::before {
	content: "👤";
}

a.channel.dm.group::before {
	content: "👥";
}

a.channel.category::before {
	content: ">";
}
</style>
