<template>
	<div class="login">
        <form class="challenges" v-on:submit.prevent="() => {}" v-for="challenge in this.$store.state.challenges" :key="challenge.id">
			<textarea v-placeholder="challenge.name" class="challenge" v-model="challenge.value"/>
			<button @click.prevent="submitChallenge" class="challenge-submit">Login</button>
		</form>
	</div>
</template>

<script>
export default {
    methods: {
        submitChallenge(e) {
            this.$store.state.challenges.forEach(e => {
                this.$store.state.answers.push(e)
            })

            this.$router.push("/guilds")
        }
    }
};
</script>