<template>
	<div class="chat">
		<div id="messages">
			<div class="message" v-for="message in this.$store.state.messages" :key="message.id">
				<div class="message-author">{{ message.author }}</div>
				<div class="message-content" v-html="message.content">{{ message.content }}</div>
			</div>
		</div>
		<form class="input" v-on:submit.prevent="() => {}">
			<textarea class="input-message" v-model="text"/>
			<button @click.prevent="postMessage">▶</button>
		</form>
	</div>
</template>

<style>
#headerbar-channel::before {
	content: "#";
}

.edited::after {
    content: "(edited)";
    display: block;
    opacity: .5;
    font-size: .75rem;
}

.chat {
	height: calc(100vh - 3em);
	display: flex;
	flex-direction: column;
}

.input {
	height: 3em;
}

#messages {
	height: auto;
	overflow: scroll;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	flex: 3;
	display: flex;
	flex-direction: column-reverse;
}

.message {
	border-top: 1px solid rgba(255, 255, 255, 0.08);
	padding: 0em 1em;
}

.message-author {
	padding: 0.5em 0;
	font-weight: bold;
}

.message-content {
	padding: 0 0.5em 0.5em 0.5em;
	overflow-wrap: break-word;
}

.message-content p {
	margin: 0;
	white-space: pre-wrap;
}

.message-content a {
	text-decoration: none;
	color: #237a57;
}

.input {
	display: flex;
	flex-direction: row;
	padding: 1vh 3vh 5vh 3vh;
	height: 2.5em;
}

.input textarea {
	flex: 1;
	-webkit-appearance: none;
	background-color: rgba(255, 255, 255, 0.03);
	color: white;
	height: 2.5em;
	width: auto;
	border: none;
	resize: none;
	border-right: 1px solid rgba(255, 255, 255, 0.085);
}

.input button {
	height: 3em;
	height: 112%;
	-webkit-appearance: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.03);
	color: white;
}

.input button:hover {
	background-color: rgba(255, 255, 255, 0.085);
}

img {
	max-width: 100%;
	height: auto;
	margin: 0.5em 0;
}

img.emoji {
    max-width: 1.25rem;
    max-height: 1.25rem;
    margin: 0;
    margin-bottom: -.25em;
}

blockquote::before {
    content: ">";
}

blockquote {
    margin: 0;
    display: inline-flex;
    color: limegreen;
}

div.embed {
	max-width: 450px;
	display: flex;
	flex-direction: row;
	background-color: rgba(0,0,0,0.25);
	height: auto;
	margin: 0.5em 0;
}

div.embed::before {
    width: 5px;
    background-color: black;
    content: " ";
    /* margin: 0 0.5em 0 0; */
}

.embed-body {
    padding: 0.5em;
}

.embed-thumbnail img {
    max-width: 100px;
	max-height: 100px;
	background-color: rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
	max-width: 100%;
}

.embed-author img, .embed-footer img {
    height: 20px;
    width: 20px;
    margin: 0.25em 0.25em 0 0;
    margin-bottom: -4px;
    background-color: black;
    border-radius: 50%;
}

.embed-author {
	color: #237a57;
	margin-bottom: 0.25em;
}

.embed-footer a {
	color: white;
	opacity: .75;
	font-size: .75rem;
	margin-bottom: 0.25em;
}

.embed-title {
	color: #064034;
	margin-bottom: 0.25em;
}

.embed-description {
    white-space: pre-wrap;
}
</style>

<script>
export default {
	data() {
		return {
			text: null
		};
	},
	methods: {
		postMessage() {
			let payload = JSON.stringify({
				type: "post",
				data: {
					content: this.text,
				},
			})

			this.$store.state.socket.send(payload)
			
			this.text = ""
		},
	},
	computed: {},
	beforeMount() {
		if (this.$route.params) {
			document.getElementById("headerbar-channel").style.display = "block"
			document.getElementById("headerbar-channel").innerHTML = this.$route.params.name

			this.$store.state.messages = []

			let payload = JSON.stringify({
				type: "req_msg",
				data: {
					channel_id: this.$route.params.id.toString(),
				},
			})

			this.$store.state.socket.send(payload)
		} else {
			this.$helpers.dialog("No parameters found.")
		}
	}
}
</script>
