<template>
	<div id="main">
		<div class="headerbar">
			<router-link class="guild-button" to="/guilds">☰</router-link>
			<!-- <router-link to="/messages">Messages</router-link> -->
			<p id="headerbar-channel"></p>
		</div>
		<router-view/>
		<div id="popup-dialog" @click.prevent="$helpers.hide()">
			<div id="popup-content"></div>
		</div>
	</div>
</template>

<script>
</script>

<style>
body {
	background-color: #080808;
	font-family: "Segoe UI", "Noto Sans", "Helvetica", sans-serif;
	font-size: 14px;
	margin: 0;
}

#popup-dialog {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.75);
}

#popup-content {
	font-family: monospace;
	box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.75);
	max-width: 100vw;
	width: 500px;
	background: #0E0E0E;
	color: #DDD;
	border-radius: 7px;
	padding: 1em;
}

#main {
	max-width: 800px;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	background-color: #1d1d1d;
	color: #eee;
}

.headerbar {
	background: linear-gradient(to right, #064034, #237a57);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24),
		inset 0 1px rgba(255, 255, 255, 0.1);
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.headerbar a {
	padding: 0.5em 1em;
	text-decoration: none;
	color: white;
}

#headerbar-channel {
	display: none;
}

a.guild-button {
	margin: 0 0.5em;
}

.router-link-active {
	border-bottom: 2px solid white;
}
</style>
